# 使用pandas+sqlite3快速儲存/讀取你要使用的資料

In [2]:
import sqlite3
import pandas

In [3]:
# 使用pandas讀取範例資料檔
data = pandas.read_csv('data.csv')
data

                          zdate    coid     close
0     2020-04-01 00:00:00+00:00    0051     28.67
1     2020-04-01 00:00:00+00:00    0052     58.75
2     2020-04-01 00:00:00+00:00    0057     49.93
3     2020-04-01 00:00:00+00:00  006208     43.54
4     2020-04-01 00:00:00+00:00  00625K      6.66
...                         ...     ...       ...
2691  2020-04-01 00:00:00+00:00   TWN50   7548.18
2692  2020-04-01 00:00:00+00:00   WIT01  11014.69
2693  2020-04-01 00:00:00+00:00   WIT02  19877.12
2694  2020-04-01 00:00:00+00:00   Y1100    517.88
2695  2020-04-01 00:00:00+00:00   Y1200   1602.66

[2696 rows x 3 columns]

In [4]:
# 呼叫connect函式的時候，指定庫名稱，如果指定的資料庫存在就直接開啟這個資料庫，如果不存在就新建立一個再開啟
conn = sqlite3.connect("test.db")

In [5]:
# 使用遊標物件SQL語句查詢資料庫，獲得查詢物件。 通過以下方法來定義一個遊標。
cu=conn.cursor()

execute()–執行sql語句  
executemany–執行多條sql語句  
close()–關閉遊標  
fetchone()–從結果中取一條記錄，並將遊標指向下一條記錄  
fetchmany()–從結果中取多條記錄  
fetchall()–從結果中取出所有記錄  
scroll()–遊標滾動

In [6]:
# 建立一張user表，表中有id(主鍵),zdate,coid,close
create_str = ("create table prcdata (id integer primary key,zdate datetime,coid varchar(10),close numeric(18, 4))")
cu.execute(create_str)

DB Browser for SQLite  
  
https://sqlitebrowser.org/dl/

In [7]:
# 直接使用pandas函式指定要寫入的資料表名稱'prcdata'，以及其他參數，執行後就寫入sql
data.to_sql(u"prcdata", conn, if_exists='append', index=None)

In [8]:
# 直接使用pandas函式進行sql的標準query動作
df = pandas.read_sql_query(sql=u"SELECT * FROM prcdata LIMIT :limit", con=conn, params={"limit":3})
df

   id                      zdate  coid  close
0   1  2020-04-01 00:00:00+00:00  0051  28.67
1   2  2020-04-01 00:00:00+00:00  0052  58.75
2   3  2020-04-01 00:00:00+00:00  0057  49.93